body {
  background-color: #1E1E1E;
}

.login-back {
  background-color: #38343D;
  width: 666px;
  height: 400px;
  margin-left: 300px;
  margin-top: 130px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgb(45, 40, 40);

}

.login{
  background-color: #38343D;
  width: 300px;
  height: 400px;
  margin-left: px;
  margin-top: 50px;
  border-radius: 20px;

}

.login-2{
  width: 300px;
  height: 360px;
  margin-left: 350px;
  margin-top: -340px;
  border-radius: 20px;

}

.teks-1 {
  padding-top: 30px;
  padding-left: 40px;
  color: rgb(226, 226, 226);
  font-family: "Nunito";
}

.teks-2 {
  padding-top:50px;
  padding-left: 40px;
  color: rgb(226, 226, 226);
  font-family: "Nunito";
  font-size: 17px;
  font-weight: lighter;
}

.place-login {
  height: 52px;
  width: 240px;
  background-color: #151517;
  font-family: "Nunito";
  color: aliceblue;
  border-radius: 15px;
  padding-bottom: -10px;
  padding-left: 10px;
  margin-left: 35px;
  margin-bottom: -10px;
  border: none;
  font-size: 18px;
  padding-left: 30px;
}

.place-login-2 {
  height: 52px;
  width: 240px;
  background-color: #151517;
  font-family: "Nunito";
  color: aliceblue;
  border-radius: 15px;
  padding-bottom: -10px;
  padding-left: 10px;
  margin-left: 35px;
  margin-bottom: -10px;
  border: none;
  font-size: 18px;
  padding-left: 30px;
  margin-top: 20px;
  
}


.place-login-google{
  height: 52px;
  width: 240px;
  background-color: #38343D;
  border: 1px solid black;
  font-family: "Nunito";
  color: rgb(128, 128, 128);
  border-radius: 15px;
  padding-bottom: -10px;
  padding-left: 10px;
  margin-left: 35px;
  margin-bottom: -10px;
  font-size: 18px;
  padding-left: 5px;
  cursor: pointer;
}

.place-login-google :hover {
 color: aqua;
}

.place-login-facebook {
  height: 52px;
  width: 240px;
  background-color: #38343D;
  border: 1px solid black;
  font-family: "Nunito";
  color: rgb(128, 128, 128);
  border-radius: 15px;
  padding-bottom: -10px;
  padding-left: 10px;
  margin-left: 35px;
  margin-bottom: -10px;
  font-size: 18px;
  padding-left: 5 px;
  margin-top: 20px;
  cursor: pointer;
  
}

.login-button  {
  width: 110px;
  height: 40px;
  border-radius: 15px;

  background-color: #61BC7D;
  margin-top: 30px;
  margin-left: 40px;
  border: none;
  cursor: pointer;
}

.login-button :hover{
  width: 80px;
  height: 30px;
  border-radius: 15px;

  background-color: #497f59;
  margin-left: px;
  margin-top: 15px;
}

.text-login{
  font-size: 17px;
  padding-left: 30px;
  padding-top: 10px;
  color: rgb(215, 215, 215);
  font-family: "Nunito";
  text-decoration: none;
}

.text-login > a {
  color: rgb(215, 215, 215);
  text-decoration: none;
}

.text-login :hover{
  font-size: 17px;
  padding-left:px;
  padding-top: 10px;
  color: rgb(215, 215, 215);
  font-family: "Nunito";
}

.text-forgot {
  font-size: 14px;
  font-family: "Nunito";
  margin-left: 170px;
  margin-top: -30px;
  color: rgb(144, 144, 144);
} 

.text-forgot > a {
  color: rgb(144, 144, 144);
  text-decoration: none;
}

.garis-1 {
  border-color: #232323;
  width: 270px;
  border: 1.2px solid;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 70px;
}

.garis-1 {
  border-color: #232323;
  width: 270px;
  border: 1.9px solid;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 70px;
}

.garis-tengah {
  background-color: rgb(0, 0, 0);
  height: 290px;
  width: 1px;
  border: 1.2px solid;
  border-radius: 10px;
  margin-left: 340px;
  margin-top: -350px;
}

.text-dont {
  font-weight: normal;
  font-size: 14px;
  font-family: "Nunito";
  color: rgb(134, 129, 129);
  margin-left: 40px;

}

.text-dont-2{
  font-weight: bold;
  text-decoration: underline;
  font-size: 14px;
  font-family: "Nunito";
  color: rgb(134, 129, 129);
  margin-left: 173px;
  margin-top: -33px;
  cursor: pointer;
}


.text-dont-2 > a{
  color: rgb(134, 129, 129);
}